a[href="data:code"] {
	text-decoration: none;
	text-transform: uppercase;
}

a[href="data:code"] span {
	color: white !important;
	background-color: orange;
	padding: 2px;
	text-decoration: none !important;
}

a[href^="data:prompt"] span {
	color: white !important;
	background-color: cyan;
	padding: 2px;
	text-decoration: none !important;
}

pre {
	background-color: black;
	color: white;
}

pre span {
	font-family: system-ui !important;
}